<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Website Payment Page</title>
</head>
<body>
    <h5 style="text-align: center;">Website Order Page</h5>
    <form style="text-align: center;" action="/payment" method="POST">
        <label>Name</label>
        <input type="text" name="name" placeholder="Name"> <br/>
        <label>Email</label>
        <input type="email" name="email" placeholder="Email"> <br/>
        <label>Amount</label>
        <input type="number" name="amount" placeholder="Enter Amount"> <br/>
        <input type="submit" value="submit Form">
    </form>

</body>
</html>